[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "downloader"]
	path = downloader
	url = https://github.com/wch/downloader
[submodule "extrafontdb"]
	path = extrafontdb
	url = https://github.com/wch/extrafontdb
[submodule "gcookbook"]
	path = gcookbook
	url = https://github.com/wch/gcookbook
[submodule "webshot"]
	path = webshot
	url = https://github.com/wch/webshot
