[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rttf2pt1"]
	path = Rttf2pt1
	url = https://github.com/wch/rttf2pt1
[submodule "bisectr"]
	path = bisectr
	url = https://github.com/wch/bisectr
[submodule "downloader"]
	path = downloader
	url = https://github.com/wch/downloader
[submodule "extrafont"]
	path = extrafont
	url = https://github.com/wch/extrafont
[submodule "extrafontdb"]
	path = extrafontdb
	url = https://github.com/wch/extrafontdb
[submodule "fontcm"]
	path = fontcm
	url = https://github.com/wch/fontcm
[submodule "gcookbook"]
	path = gcookbook
	url = https://github.com/wch/gcookbook
[submodule "ggvis"]
	path = ggvis
	url = https://github.com/cran/ggvis
[submodule "webshot"]
	path = webshot
	url = https://github.com/wch/webshot
