[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rttf2pt1"]
	path = Rttf2pt1
	url = https://github.com/wch/Rttf2pt1
	registered = false
[submodule "downloader"]
	path = downloader
	url = https://github.com/wch/downloader
[submodule "extrafontdb"]
	path = extrafontdb
	url = https://github.com/wch/extrafontdb
[submodule "fontcm"]
	path = fontcm
	url = https://github.com/wch/fontcm
[submodule "gcookbook"]
	path = gcookbook
	url = https://github.com/wch/gcookbook
[submodule "webshot"]
	path = webshot
	url = https://github.com/wch/webshot
